<!--
<p>{{cardmodel.data[0].name}}</p>
<h3>Card title: PUT CARD NAME HERE (CMC FOR NOW)</h3>
<p>Type: CARD TYPE HERE</p>
<p>ORACLE TEXT HERE</p>
<p>IF FLAVOR TEXT</p>
<p>ARTIST</p>
<p>RARITY</p>
<p>MARKETPLACE</p>
<p>MARKETPLACE 2*</p>
<p>MARKETPLACE 3*</p>
<p>IF POWER/TOUGHNESS</p>

<img src="" alt="this is a card image">
 -->

<div class="card-details-page">
  <!-- <img
      src="{{ cardmodel.data[0].image_uris.border_crop }}"
      alt="this is a card image"
    /> -->
  <div class="card-details-img">
    <!-- *ngIf="cardmodel.data[0].image_uris; else doubleSided" -->
    <!-- <img
      src="{{ cardmodel.data[0].image_uris.border_crop }}"
      alt="this is a card image"
    /> -->
  </div>
  <div class="card-details-img" #doubleSided>
    <img src="{{ cardmodel.data[0].card_faces[0].image_uris.border_crop }}" />
  </div>

  <div
    class="card-details-img"
    #doubleSided
    *ngIf="cardmodel.data[0].card_faces[1].image_uris != null"
  >
    <img src="{{ cardmodel.data[0].card_faces[1].image_uris.border_crop }}" />
  </div>
  <div *ngIf="loggedIn">
      <Select>
        <ng-container *ngFor="let d of Deck">
          <option (click)="currentDeckId = d.id">{{ d.deckName }}</option>
        </ng-container >
      </Select>
    <button (click)="AddCardToDeck(currentDeckId, cardmodel.data[0].id)" >Add to Deck</button>
  </div>

  <!-- </div> -->

  <!-- <div *ngIf="cardmodel.data[0].card_faces.length >= 2">
    <p>doublesided</p>

  <div *ngIf="cardmodel.data[0].card_faces.length < 2">
    <p>singlesided</p>
    <img
      src="{{ cardmodel.data[0].image_uris.border_crop }}"
      alt="this is a card image"
    />
  </div> -->
  <div class="card-details">
    <h1>{{ cardmodel.data[0].name }}</h1>
    <p>{{ cardmodel.data[0].type_line }}</p>
    <p class="rarity">{{ cardmodel.data[0].rarity }}</p>
    <p>
      {{ cardmodel.data[0].oracle_text }}
    </p>
    <p #doubleSided>
      {{ cardmodel.data[0].card_faces[0].oracle_text }}
    </p>
    <p class="ital">{{ cardmodel.data[0].flavor_text }}</p>
    <!-- <p *ngIf="cardmodel.data[0].power != null">
          {{cardmodel.data[0].power}}/{{cardmodel.data[0].toughness}}
        </p> -->
    <p>Illustrated by {{ cardmodel.data[0].artist }}</p>
    <div class="buy-card">
      <a href="{{ cardmodel.data[0].purchase_uris.tcgplayer }}">
        <p class="underline">TCGPlayer</p>
      </a>
      <!-- {{ConvertStringToNumber(cardmodel.data[0].prices.usd )| currency:'USD'}} -->
      <a href="{{ cardmodel.data[0].purchase_uris.cardmarket }}">
        <p class="underline">Cardmarket</p>
      </a>
      <a href="{{ cardmodel.data[0].purchase_uris.cardhoarder }}">
        <p class="underline">Cardhoarder</p>
      </a>
    </div>
  </div>
</div>
