<!-- <div class="row">
  <div class="col-1 backgroundcol"></div>
  <h2 class="col-11">
    For more advance search methods please visit
    <a href="https://scryfall.com/docs/syntax#colors"
      >the official Scryfall Search Reference.</a
    >
  </h2>
</div>
<div class="row">
  <div class="col-1 backgroundcol"></div>
  <h1 class="headliner col-11"><br />Common Search filters</h1>
  <div class="row">
    <div class="col-1 backgroundcol"></div>
    <div class="col-11">
      <p>
        You can also search using multiple methods in one go. <br />For example,
        t:merfolk t:legend in one line would search for legendary merfolk type
        cards.
      </p>
      <p>
        You also capable of adding a minus(-) sign in front a method to remove
        them from a search.<br />For example, t:goblin -t:creature in one line
        would look for goblin cards that arent creatures.
      </p>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-1 backgroundcol"></div>
  <h2 class="headliner col-11">
    Methods for searching by card type:
  </h2>
</div>
<div class="row">
    <div class="col-1 backgroundcol"></div>
<div class="col-11">
      <p>t=[card type here]</p>
      <p>t:[Card type here]</p>
      <p>type:[Card type here]</p>

      <br />
      <h2>Methods for searching by card color:</h2>
      <p>
        Note that colors can be abbreviated: W=White, U=Blue, B=Black, R=Red,
        G=Green
      </p>
      <p>c:[color]</p>
      <p>color:[color]</p>
      <p>
        Example: color:[UW] this returns back cards that are both blue and white
      </p>
      <br />    
</div>        
</div>
 -->

<div class="row">
  <div class="col-1 backgroundcol"></div>
  <div class="col-11">
    <br>
    <h2>
      For more advance search methods please visit
      <a href="https://scryfall.com/docs/syntax#colors"
        >the official Scryfall Search Reference.</a
      >
    </h2>
    <h1 class="headliner"><br />Common Search filters</h1>
    <div>
      <p>
        You can also search using multiple methods in one go. <br />For example,
        t:merfolk t:legend in one line would search for legendary merfolk type
        cards.
      </p>
      <p>
        You also capable of adding a minus(-) sign in front a method to remove
        them from a search.<br />For example, t:goblin -t:creature in one line
        would look for goblin cards that arent creatures.
      </p>
    </div>
    <h2 class="headliner">Methods for searching by card type:</h2>
  
  <p>t=[card type here]</p>
  <p>t:[Card type here]</p>
  <p>type:[Card type here]</p>

  <br />
  <h2 class="headliner">Methods for searching by card color:</h2>
  <p>
    Note that colors can be abbreviated: W=White, U=Blue, B=Black, R=Red,
    G=Green
  </p>
  <p>c:[color]</p>
  <p>color:[color]</p>
  <p>
    Example: color:[UW] this returns back cards that are both blue and white
  </p>
  <br />
</div>
</div>