<h1>Common Search filters</h1>
<h2>For more advance search methods please visit <a href="https://scryfall.com/docs/syntax#colors">the official Scryfall Search Reference.</a></h2>
<hr>
<p>You can also search using multiple methods in one go. <br>For example, t:merfolk t:legend in one line would search for legendary merfolk type cards.</p>
<p>You also capable of adding a minus(-) sign in front a method to remove them from a search.<br>For example, t:goblin -t:creature in one line would look for goblin cards that arent creatures.</p>
<hr>
<h2>Methods for searching by card type:<h2>
<p>t=[card type here]</p>
<p>t:[Card type here]</p>
<p>type:[Card type here]</p>

<br>
<h2>Methods for searching by card color:</h2>
<p>c:[color]</p>
<p>color:[color]</p>
<br>
<h2>Methods for searching by mana:</h2>
<p>m:[mana type]</p>
<p>mana:[mana type]</p>
