<!-- <div class="col-12">
  <img src="../../assets/Kruphix_God_of_Horizons.png" class="img" width="100%" />
  <p class="carousel-caption">WONDER DEVELOP</p>
</div> -->

<div class="row">
  <div class="container">
    <div class="col-12" id="showcase">
      <img
        src="../../assets/Kruphix_God_of_Horizons.png"
        alt="kruphix constellation showcase"
      />
      <div class="row" id="gradient-overlay"></div>
      <p id="showcase">Expand your horizons...</p>
    </div>
  </div>
</div>
