<!-- <div class="col-12">
  <img src="../../assets/Kruphix_God_of_Horizons.png" class="img" width="100%" />
  <p class="carousel-caption">WONDER DEVELOP</p>
</div> -->

<!-- <div class="row">
  <div class="container">
    <div class="col-12" id="showcase">
      <img
      class="carousel-item"
        src="../../assets/Kruphix_God_of_Horizons.png"
        alt="kruphix constellation showcase"
      />
      <div class="row" id="gradient-overlay"></div>
      <p id="carousel-caption showcase-p">Expand your horizons...</p>
    </div>
  </div>
</div> -->

<div class="row carousel item">
  <div class="col-12">
    <div class="carousel-item active">
      <img src="../../assets/Kruphix_God_of_Horizons.png" width="100%" />
    </div>
  </div>
  <div>
    <p class="carousel-caption showcase-p">Expand your horizons...</p>
  </div>
  <div class="row" id="gradient-overlay">

  </div>
</div>
