
<div class="cardlist">

  <ng-container *ngIf="cardmodel.data else notFound">
    <div *ngFor="let c of cardmodel.data; index as i" class="cardcontainer">
      <div class="card">

        <div *ngIf="c.image_uris else doubleSided" class="img-container">
          <a routerLink="/card/{{c.name}}">
            <img src="{{ c.image_uris.border_crop }}" alt="" />
          </a>
        </div>  
        
        <ng-template #doubleSided class="img-container">
          <!-- <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="{{c.card_faces[0].image_uris.border_crop}}" alt="">
              </div>
              <div class="flip-card-back">
                <img src="{{c.card_faces[1].image_uris.border_crop}}" alt="">
              </div>
            </div>
          </div>  -->
          <a routerLink="/card/{{c.card_faces[0].name}}">
            <img src="{{c.card_faces[0].image_uris.border_crop}}" alt="">
          </a>
        </ng-template>


        <p>{{ c.name }}</p>
      </div>
    </div>
  </ng-container>




  <ng-template #notFound>
    <h2>Your Spell Fizzles</h2>
  </ng-template>


</div>

          <!-- <a href="{{ c.purchase_uris.tcgplayer }}">tcgplayer {{ c.prices.usd | currency }}</a> -->
