  <div class="cardlist">
    <div *ngFor="let c of cardmodel.data; index as i" class="cardcontainer">
      <div *ngIf="ispaper[i]" class="card">
        <div *ngIf="c.image_uris" class="img-container">
          <img src="{{ c.image_uris.border_crop }}" alt="" />
        </div>
        <p>{{ c.name }}</p>
        <div *ngIf="!c.image_uris">
          <p>Image not found</p>
        </div>
        <!-- <a href="{{ c.purchase_uris.tcgplayer }}">tcgplayer {{ c.prices.usd | currency }}</a> -->
      </div>
    </div>
  </div>
