* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  background-color: var(--primary-dark);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--dark);
}

#nav-left {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-grow: 3;
}

#nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  color: var(--accent);
}

#nav-right a:hover {
  text-decoration: underline;
}

#logo {
  color: var(--accent);
  cursor: pointer;
  font-family: 'Berkshire Swash', cursive;
  transition: color 1s;
}

#logo:hover{
  color: var(--highlight);

}

#searchbar {
  display: flex;
  align-items: center;
  max-width: 80%;
  flex-grow: 1;
}

#searchbar input {
  background-color: var(--dark);
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 10px;
  height: 35px;
  width: 500px;
  color: var(--accent);
}

#searchbar input:focus-visible {
  outline: none;
}

#searchbar input::placeholder {
  color: var(--primary-light);
}

#searchbar button {
  background-color: var(--primary-light);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  cursor: pointer;
  display: flex;
}

#searchbar span {
  color: var(--primary-dark);
}

#searchbar button:hover {
  filter: brightness(85%);
}

