<nav>
  <div id="nav-left">
    <h1><a routerLink="/" id="logo">Counterspell</a></h1>
    <form id="searchbar" (ngSubmit)="onSubmit()">
      <input
        type="search"
        placeholder="Target player searches their library for..."
        [(ngModel)]="cardName"
        name="cardName"
      />
      <button><span class="material-symbols-outlined">search</span></button>
    </form>
  </div>

  <!-- <div id="nav-right">
      <a href="#">Login</a>
      <a href="#">Register</a>
  </div> -->

  <div class="container" id="nav-right">
    <div
      class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
      [ngClass]="{ show: isExpanded }"
    >
      <ul class="navbar-nav flex-grow">
        <li class="nav-item">
          <asl-google-signin-button
            *ngIf="!loggedIn"
            type="icon"
            size="medium"
          ></asl-google-signin-button>

          <div *ngIf="loggedIn">
            <p>
              {{ user.name }}
              <img
                src="{{ user.photoUrl }}"
                style="width: 30px; height: 30px"
              /><button
                class="btn"
                *ngIf="loggedIn"
                (click)="signOut()"
                style="color: aliceblue"
              >
                Sign Out
              </button>
            </p>
          </div>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="loggedIn">
          <a class="nav-link" [routerLink]="['/CreateDeck']"
            ><p style="color: white;">Decks</p></a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="loggedIn">
          <a class="nav-link" [routerLink]="['/userdecks']"
            ><p style="color: white;">User Decks</p></a
          >
        </li>      
      </ul>
    </div>
  </div>


</nav>
